.AccountSettingsContainer {
  background-color: #f8f9fa; 
  border-radius: 0.5rem;
  padding: 2rem;
}

.AccountCard {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 100%;
}

.AccountCard .card-text {
  font-size: 40px;
  color: #bf5700;
  text-align: center;
  margin-top: 1vh;
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; 
}

.image {
  max-width: 100%;
  max-height: 100%; 
  border-radius: 50%; 
}

.input-box {
  margin-bottom: 1.5rem;
}

.input-box label {
  display: block;
  font-weight: bold;
  color: #bf5700;
  margin-bottom: 0.5rem;
}

.input-box p {
  padding: 0.5rem;
  background-color: #e9ecef; 
  border-radius: 0.25rem;
  border: 1px solid #ced4da; 
  color: #495057; 
}

button {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}
