.scheduling {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(255, 182, 118);
    border-radius: 10px;
}

.scheduling .calendar-container {
    flex: 1;
    padding-right: 20px; 
}

.scheduling .appointments {
    flex: 1;
}

.scheduling h2 {
text-align: center;
  color: #BF5700;
  text-decoration: underline;
  font-size: 26px;
  width: 100%;
  margin-bottom: 20px;
}

.scheduling ul {
    list-style-type: none;
    padding: 0;
}

.scheduling ul li {
    background-color: #facf97;
    color: #BF5700;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #BF5700;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.scheduling ul li:hover {
    background-color: #BF5700;
    color: black;
}

.scheduling .no-appointments {
    color: #888;
    font-style: italic;
}

.calendar {
    border: 2px solid #BF5700;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #facf97;
}

.appointments-for-date {
    margin-top: 20px;
}
